<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<insert id="insertOrder">
		insert into payment
		values(#{payCode}, #{refMemberId}, seq_pay_no.nextval, #{payCost}, default)
	</insert>
	
	<insert id="insertPayLecture" parameterType="list">
		insert into pay_lecture
		values
		<foreach collection="list" item="item">
		(#{item.payCode}, #{item.no})
		</foreach>
	</insert>
	<delete id="deleteBasket">
		delete from basket
		where ref_member_id = #{refMemberId}
	</delete>
</mapper>