<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<insert id="insertOrder">
		insert into payment
		values(#{payCode}, #{refMemberId}, seq_pay_no.nextval, #{payCost}, default)
	</insert>

	<insert id="insertPayLecture" parameterType="list">
		insert all
		<foreach collection="list" item="item">
		into pay_lecture
		values
		(#{item.payCode}, #{item.no})
		</foreach>
		select * from dual
	</insert>
	<delete id="deleteBasket">
		delete from basket
		where ref_member_id = #{refMemberId}
	</delete>

	<select id="selectOrderedLectureList" resultType="_int">
		select
			ref_lecture_no
		from
			payment p
		    	join pay_lecture pl
		    on p.pay_code = pl.pay_code
		where
			ref_member_id = #{memberId}
	</select>
</mapper>