<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">

	<insert id="insertOrder">
		insert into payment
		values(#{payCode}, #{refMemberId}, seq_pay_no.nextval, #{payCost}, default)
	</insert>

	<insert id="insertPayLecture" parameterType="list">
		insert all
		<foreach collection="list" item="item">
		into pay_lecture
		values
		(#{item.payCode}, #{item.no})
		</foreach>
		select * from dual
	</insert>
	<delete id="deleteBasket">
		delete from basket
		where ref_member_id = #{refMemberId}
	</delete>

	<select id="selectOrderedLectureList" resultType="_int">
		select
			ref_lecture_no
		from
			payment p
		    	join pay_lecture pl
		    on p.pay_code = pl.pay_code
		where
			ref_member_id = #{memberId}
	</select>
	
	<delete id="deletePayPick">
		delete from pick
			where ref_member_id = #{refMemberId}
				and ref_lecture_no in
				<foreach collection="refLectureNoList" item="lecNo"
					open="(" separator="," close=")">
				#{lecNo}	
				</foreach>
	</delete>
	
	
	<select id="selectPayChapter" resultMap="payChapMap">
		select
			l.lecture_no,
			c.lec_chapter_no
			
		from lecture l
			left join lecture_part p
				on l.lecture_no = p.ref_lecture_no
			left join lecture_chapter c
				on p.lecture_part_no = c.ref_lec_part_no
				
		where l.lecture_no 
			in
			<foreach collection="list" item="lecNo"
				open="(" separator="," close=")">
				#{lecNo}
			</foreach>
		order by lec_chapter_no asc
	</select>
	
	<resultMap id="payChapMap" type="map">
		<id column="lecture_no" property="lectureNo"/>
		<result column="lec_chapter_no" property="chapterNo"/>
	</resultMap>
	
	
	
	<insert id="insertPayChapter">
		insert all
		<foreach collection="chapList" item="chap">
		into lecture_progress
		values
		(#{refMemberId}, #{chap.lectureNo}, #{chap.chapterNo}, 'N', null, null, null)
		</foreach>
		select * from dual
	</insert>
	
</mapper>