@charset "UTF-8";

section, aside, footer {padding:10px;}
  .container {margin: 0px auto;}

 * {
   /* 박스모델에 패팅과 보더의 사이즈를 아이템 너비와 높이에 포함해 달라고 말하는 것 */
   box-sizing: border-box;
 }

 /********** 전체컨테이너 **********/
 div#container {
 }
 
 /********** 회원가입(memberEnroll) **********/
.container-signup {
  margin: 100px auto;
  width: 50%;
}

.container-signup h5 {
  text-align: center;
  margin-bottom: 50px;
}

.signup-input {
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social button {
  display: block;
  margin: 0;
  width: 100%;
}

button#google {
  background-color: #e94235;
}

button#kakao {
  background-color: #ffdc00;
}



/* 중복아이디체크관련 */
div#memberId-container { position:relative; padding:0px; }
div#memberId-container span.guide { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
div#memberId-container span.ok { color:green; }
div#memberId-container span.error { color:red; }
