@charset "UTF-8";

section, aside, footer {padding:10px;}

.container {margin: 0px auto;}

* {
  /* 박스모델에 패팅과 보더의 사이즈를 아이템 너비와 높이에 포함해 달라고 말하는 것 */
  box-sizing: border-box;
}

/********** 전체컨테이너 **********/
div#container {
}

/********** 섹션 container-pick **********/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button,
button:focus {
  cursor: pointer;
}

/********** orderBy **********/
.dropdown button {
    background-color: white;
    color: black;
}

/********** pick **********/
.pick {
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}

/********** pick-lecture **********/
.lecture {
    display: flex;
    width: 20%;
    height: 340px;
    margin: 0px 30px;
    position: relative;
}

.lecture .show {
    width: 100%;
    border: 1px solid #b8b5ff;
    border-radius: 5%;
    margin: 0px;
}

.lecture .show .info {
    display: flex;
    flex-direction: column;
}

.lecture .show .info span {
    padding: 5px;
}

.lecture .show .img img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5%;
}

.lecture .hide {
/*     width: 19%;
    height: 340px;
    position: absolute;
    display: none;
    background-color: black;
    opacity: 0.8; 
    border-radius: 5%;
    flex-direction: column; */
   	position: absolute;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
}

.lecture .hide .link_info {
	/* padding: 20px; */
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word;
}

.lecture .hide .link_info a {
	width: 100%
}

.lecture .hide .link_info .moreInfo .info {
    color: white;
}

.lecture .hide .addLecture {
/*     display: flex;
    flex-direction: column;
    justify-content: flex-end; */
}

.lecture .hide .addLecture button {
    margin: 5px;
    /* display: flex;
    justify-content: flex-end; */
}

.lecture .hide .addLecture .btn i {
	color: white;
}

.lecture:hover .hide {
    /* display: block; */
    opacity: 1;
}