<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studyBoard">

	<select id="studyBoardList" resultType="studyBoard">
	select 
		    rownum,
		    n.*
		from(
		    select 
		        s.std_brd_no,
                s.ref_member_id,
                s.ref_lecture_no,
                s.std_brd_title,
                s.std_brd_content,
                s.std_brd_date,
                s.std_brd_count,
                l.lecture_name
		    from 
		        study_board s join lecture l
            on
                s.ref_lecture_no = l.lecture_No
		    order by 
		        STD_BRD_NO
		    asc) n
	<where>
      <if test="searchKeyword != null and searchKeyword != ''">
  	   and
   		${searchType} like '%' || #{searchKeyword} || '%' 
     </if>  
	</where>
		order by
		    rownum
		    desc
	</select>
	
	<select id="getListCount" resultType="_int" >
		SELECT
			COUNT(*)
		FROM
			study_board
	</select>
		<select id="selectOneStudy" resultType="studyBoard">
			select
			    *
			from
			(select 
		        s.std_brd_no,
                s.ref_member_id,
                s.ref_lecture_no,
                s.std_brd_title,
                s.std_brd_content,
                s.std_brd_date,
                s.std_brd_count,
                l.lecture_name
		    from 
		        study_board s join lecture l
            on
                s.ref_lecture_no = l.lecture_No
                ) n
			where n.std_brd_no = #{stdBrdNo}
	</select>
	
	<insert id="insertBoard">
		INSERT INTO
		study_board(
			std_brd_no,
			ref_member_id,
			ref_lecture_no,
			std_brd_title,
			std_brd_content,
			std_brd_date,
			std_brd_count
			)
		values(
			SEQ_STD_BRD_NO.NEXTVAL,
			#{refMemberId},
			#{refLectureNo},
			#{stdBrdTitle},
			#{stdBrdContent},
			default,
			0
		)
		<selectKey resultType="_int" keyProperty="stdBrdNo" order="AFTER">
		select
			SEQ_STD_BRD_NO.currval
		from
			dual
		</selectKey>
	</insert>
	<delete id="delete">
		DELETE
		FROM
			study_board
		where
			std_brd_no = #{stdBrdNo}
	</delete>
	<update id="update">
		update 
		    study_board
		set 
			std_brd_no = #{stdBrdNo},
			ref_member_id = #{refMemberId},
		    ref_lecture_no = #{refLectureNo},
		    std_brd_title = #{stdBrdTitle},
		    std_brd_content = #{stdBrdContent}
		where
		    std_brd_no = #{stdBrdNo}
	</update>
	<update id="updateCnt">
		update
			study_board
		set
			std_brd_count = std_brd_count+1
		where
			std_brd_no = #{stdBrdNo}
	</update>
	<select id="selectOneAttach" resultType="com.kh.codelit.attachment.model.vo.Attachment">
		select 
		    a.*,
		    c.contents_attach_path
		from 
		    attachment a  
		JOIN 
		    contents_group c 
		ON 
		    a.ref_contents_group_code = c.contents_group_code
		where
		    a.ref_contents_no = #{stdBrdNo}
		and 
			a.ref_contents_group_code = 'SB'
	</select>
	<delete id="deleteAttach">
		delete 
		from 
			attachment 
		where 
			ref_contents_no = #{stdBrdNo} 
		and 
			ref_contents_group_code = 'SB'
	</delete>
	<select id="selectLec" resultType="com.kh.codelit.lecture.model.vo.Lecture">
		select 
			*
		from
			lecture
	</select>
	
	<select id="selectOneLec" resultType="com.kh.codelit.lecture.model.vo.Lecture">
        select
            lecture_name
        from 
            lecture
        where
            lecture_no = #{lectureNo}
	</select>	
	
</mapper>