<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="teacher">

	<insert id="insertTeacherRequest">
		insert into teacher
		values(#{refMemberId}, #{teacherName}, 
				#{teacherPhone}, #{refLecCatNo}, 
				#{teacherIntroduce}, #{teacherLink}, 
				#{teacherBank}, #{teacherAccount}, 
				#{teacherAccName})
	</insert>

	<select id="selectTeacherCollection" >
		select
			*
		from
			member
		where 
			id = #{id}
	</select>
	
<!-- 	<resultMap type="member" id="memberMap">
	 <result column="enroll_date" property="enrollDate"/>
	</resultMap>
	<update id="updateMember">
	update member 
	set 
	name = #{name},
	gender = #{gender},
	birthday = #{birthday},
	email = #{email},
	phone = #{phone},
	address = #{address},
	hobby = #{hobby}
	where
	id = #{id}
	 </update> -->
	
</mapper>