<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="msg">
	<select id="selectMember" resultMap="selMember">
		select
			*
		from
			authorities
	</select>
	<resultMap type="map" id="selMember">
		<result column="auth" property="auth"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<select id="selectAuthTeacher" resultMap="selMember">
		select
			*
		from
			authorities
		where
			auth = 'ROLE_TEACHER'
	</select>
	<insert id="insertMsg">
		insert into
			messenger
		values(
			seq_msg_no.nextval,
			#{refWriterId},
			#{refReceiverId},
			#{msgTitle},
			#{msgContent},
			default,
			#{readYN}
		)
	</insert>
	<insert id="insertMsgCurrval">
		insert into
			messenger
		values(
			seq_msg_no.currval,
			#{refWriterId},
			#{refReceiverId},
			#{msgTitle},
			#{msgContent},
			default,
			#{readYN}
		)
	</insert>
	<select id="selectAuth" resultMap="selMember">
		select 
		    *
		from
		    authorities
		where
		    auth = #{auth}
	</select>
	
	<select id="alarmList" resultType="Messenger">
		select 
			rownum,
			m.* 
		from (
		    select 
		        * 
		   	from 
				messenger 
			where 
				ref_receiver_id = #{refReceiverId}
			order by 
				msg_date
			asc) m
		order by
			rownum
		desc
	</select>
	
	<select id="getListCount" resultType="_int">
		select
			count(*)
		from
			messenger
		where 
			ref_receiver_id = #{refReceiverId}
	</select>
	
	<select id="getReadVal" resultType="_int">
		select
			count(*)
		from
			messenger
		where
			read_yn = 'N'
		and
			ref_receiver_id = #{refReceiverId}
	</select>
	
	<update id="updateReadVal">
		update
			messenger
		set
			read_yn = 'Y'
		where
			msg_no = #{msgNo}
	</update>
	<select id="selectOneMsg" resultType="Messenger">
		select
			*
		from	
			messenger
		where
			msg_no = #{msgNo}
	</select>
	<select id="selectList" resultType="Messenger">
		select 
	        * 
	   	from 
			messenger 
		where 
			ref_receiver_id = #{refReceiverId}
		order by 
			msg_date
		asc
	</select>
	<select id="alarmListMyprofile" resultType="Messenger">
		select
		    *
		from
		    messenger
		where 
		    ref_receiver_id = #{refREceiverId}
		order by
		    read_Yn asc,
		    msg_no desc
	</select>

</mapper>