<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="counsel">

	<insert id="insertCounsel">insert into counsel values(seq_counsel_no.nextval,#{refMemberId},#{counselTitle},#{counselContent},#{counselQNo},1,default)</insert>
	<select id="selectCounselList" resultType="counsel">
		select 
			*
		from
			counsel
		where
			ref_member_id = #{memberId}
		order by
			counsel_date desc
	</select>

	<select id="getTotalContents" resultType="_int">
		select
			count(*)
		from
			counsel
		where
        	ref_member_id = #{memberId}
	</select>
	
</mapper>