<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="counsel">

	<insert id="insertCounsel">insert into counsel values(seq_counsel_no.nextval,#{refMemberId},#{counselTitle},#{counselContent},#{counselQNo},1,default)</insert>
	<select id="selectCounselList" resultType="counsel">
		select 
			rownum,c.*
				from(
			select
				*
			from
			counsel
			order by
			counsel_no
			asc) c
			order by
			rownum
			desc
	
	</select>

	<select id="getTotalContents" resultType="_int">
		select
			count(*)
		from
			counsel
		<where>
		<if test="_parameter gt 0">
			ref_cousnel_no = #{_parameter}
		</if>
		</where>
	</select>
	
</mapper>