<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="counsel">

	<insert id="insertBoard">
	INSERT INTO
		counsel
		values(
			SEQ_COUNSEL_NO.NEXTVAL,
			#{refMemberId},
			#{counselCategory},
			#{counselTitle},
			#{counselContent},
			null,
			null,
			#{counselDate}
		)
	
	
	
	</insert>

</mapper>