<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
	<select id="selectCategoryList" resultType="map">
		select
			lec_cat_no "no",
			lec_cat_name "name"
		from
			lecture_category
		order by
			lec_cat_no
	</select>
	
	<insert id="insertLecture">
		insert into
			lecture
		values (
			seq_lec_no.nextval,
			#{refLecCatNo},
			#{refMemberId},
			#{lectureName},
			#{lectureType},
			#{lectureIntro},
			#{lectureThumbOrigin},
			#{lectureThumbRenamed},
			#{lecturePrice},
			default,
			#{lectureGuideline}			
		)
		<selectKey resultType="_int" keyProperty="lectureNo" order="AFTER">
			select
				seq_lec_no.currval
			from
				dual
		</selectKey>
	</insert>




	
	<select id="selectLectureList" resultType="lecture">
		select 
			L.*,
			round((select avg(lec_assessment) from lecture_comment where ref_lecture_no = L.lecture_no), 1) "avg_lec_assessment"
		from lecture L
		<where>
		    lecture_accept_yn = 'Y'
		<!--
			if 태그에서 파라미터를 getter로 가져오기 때문에 getter가 없는
			기본형변수나 String객체 등을 파라미터로 넘겼을때는 _parameter로 사용해야 함.
		-->
		<if test="_parameter gt 0">
			and ref_lec_cat_no = #{_parameter}
		</if>
		</where>
		order by
		    lecture_no
	</select>
	
	<select id="getTotalContents" resultType="_int">
		select
			count(*)
		from
			lecture
		<where>
		<if test="_parameter gt 0">
			ref_lec_cat_no = #{_parameter}
		</if>
		</where>
	</select>
	

</mapper>


