<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
	<select id="selectCategoryList" resultType="map">
		select
			lec_cat_no "no",
			lec_cat_name "name"
		from
			lecture_category
		order by
			lec_cat_no
	</select>
	
	<insert id="insertLecture">
		insert into
			lecture
		values (
			seq_lec_no.nextval,
			#{refLecCatNo},
			#{refMemberId},
			#{lectureName},
			#{lectureType},
			#{lectureIntro},
			#{lectureThumbOrigin},
			#{lectureThumbRenamed},
			#{lecturePrice},
			default,
			#{lectureGuideline}			
		)
		<selectKey resultType="_int" keyProperty="lectureNo" order="AFTER">
			select
				seq_lec_no.currval
			from
				dual
		</selectKey>
	</insert>


</mapper>


