<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
<!-- 
 	<select id="selectAllBySearching" resultMap="searchMap">
 		select
 			*
 		from
 			lecture
 		where
		 	${searchType} like '%' || #{searchKeyword} || '%'



 	</select>

	<resultMap type="map" id="searchMap">
	 <id column="id" property="empId"/>id :pk용
	 <result column="ref_member_id" property="refMemberId"/> 
	 <result column="lecture_name" property="lectureName"/> 
	 <result column="ref_member_id" property="refMemberId"/> 
	 <result column="ref_member_id" property="refMemberId"/> 
	 </resultMap> -->

	<select id="selectMemberList" resultMap="memberMap">
		select 
			*
		from 
			member m
		    	left join authorities a
		        	on m.member_id = a.member_id
		<where>
		m.member_id not in 
		    (select member_id from authorities where auth = 'ROLE_ADMIN')
		    <if test="keyword != null and keyword != ''">
		    and
		    	m.member_id like '%' || #{keyword} || '%'
		    </if>		
		</where>
	
	</select>
	
	<resultMap id="memberMap" type="member">
		<id column="member_id" property="memberId"/>
		<result column="member_pw" property="memberPw"/>
		<result column="member_profile" property="memberProfile"/>
		<result column="member_re_proflie" property="memberReProfile"/>
		<collection property="authorities" ofType="simpleGrantedAuthority">
			<constructor>
				<arg column="auth" javaType="string"/>
			</constructor>
		</collection>
	</resultMap>

	<delete id="deleteMember">
		delete from member
		where member_id = #{memberId}
	</delete>
	<select id="selectTeacherList" resultType="teacher">	
		select *
		from teacher t
				left join (select * from authorities where auth = 'ROLE_TEACHER') a
				on t.ref_member_id = a.member_id
		<where>
		a.auth = 'ROLE_TEACHER'
		<if test="keyword != null and keyword != ''">
			and
				t.ref_member_id like '%' || #{keyword} || '%'
		</if>
		<if test="category != null and category != ''">
			and
				t.ref_lec_cat_no = #{category}
		</if>
		</where>
	</select>

	<select id="applyTeacherList" resultMap="TeacherListMap">
		select
   			 *
		from
    		teacher left join lecture_category
       			 on ref_lec_cat_no = lec_cat_no
         		  left join (select * from authorities where auth = 'ROLE_TEACHER')
          			on ref_member_id = member_id
		where auth is null
	</select>
	
	<resultMap type="map" id="TeacherListMap">
		<id column="ref_member_id" property="refMemberId"/>
		<result column="lec_cat_name" property="lecCatName" />
		<result column="teacher_name" property="teacherName" />
		<result column="teacher_link" property="teacherLink" />
	</resultMap>
	
	<insert id="approveTeacher">
		insert into
				authorities values ('ROLE_TEACHER', #{id})
	</insert>
	
	<select id="applyLectureList" resultMap="LectureListMap">
		select 
			*
	    from
	       	lecture left join lecture_category
	         	on lecture_no = lec_cat_no
		where lecture_accept_yn = 'W'
	</select>
	
	<resultMap type="map" id="LectureListMap">
		<id column="ref_member_id" property="refMemberId"/>
		<result column="lec_cat_name" property="lecCatName" />
		<result column="lecture_id" property="lectureId"/>
	</resultMap>
	
	<update id="approveLecture">
		update
	    	lecture
		set 
	     	lecture_accept_yn ='Y'
		where id = #{id}
	</update>
	
	<delete id="deleteTeacher">
		delete from
			teacher
		where
			ref_member_id = #{id}
	</delete>
	
	<update id="deleteLecture">
		update 
			lecture
		set 
	     	lecture_accept_yn ='N'
		where 
			ref_member_id = #{id}
	</update>

	<select id="selectAllLecture" resultMap="LectureListMap">
	select
		 *
    from
    	lecture
	
	</select>
	
	<select id="getTotalContents" resultType="_int">
	
	select
		count(*)
	from
		lecture
	where 
		lecture_accept_yn = 'Y'
	
	</select>
	
	<select id="selectMemberCount" resultType="_int">
		select count(*)
		from member m
			left join (select * from authorities where auth = 'ROLE_ADMIN') a
			on m.member_id = a.member_id
		<where>
			auth is null
			<if test="keyword != null and keyword != ''">
				and
					m.member_id like '%' || #{keyword} || '%'
			</if>
		</where>
	</select>

	<select id="selectTeacherCount" resultType="_int">
		select count(*)
		from teacher t
				left join (select * from authorities where auth = 'ROLE_TEACHER') a
				on t.ref_member_id = a.member_id
		<where>
			auth = 'ROLE_TEACHER'
			<if test="keyword != null and keyword != ''">
				and
					t.ref_member_id like '%' || #{keyword} || '%'
			</if>
			<if test="category != null">
				and
					t.ref_lec_cat_no = #{category}
			</if>
		</where>
	</select>
</mapper>