<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attachment">

	<insert id="insertAttachment">
		insert into
			attachment
		values(
			seq_attach_no.nextval,
			#{refContentsNo},
			#{originalFilename},
			#{renamedFilename},
			#{refContentsGroupCode}
		)
	</insert>
	<select id="selectAttachment" resultType="attachment">
		select *
		from attachment a
				left join contents_group c
				on a.ref_contents_group_no = c.contents_group_code
		where ref_contents_code = #{no}
	</select>
	
</mapper>