<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<!-- 회원가입 -->
	<insert id="insertMember">
	insert into
		member
	values(
		#{memberId},
		#{memberPw},
		null,
		null
	)
	</insert>

	<insert id="insertMemberByGoogle">
	insert into
		member
	values(
		#{memberId},
		#{memberPw},
		null,
		null
	)
	</insert>

<!-- 	<select id="loginByGoogle" resultType="member">
		select
			*
		from
			member
		where
			member_id = #{memberId},
			member_pw = #{memberPw}
	</select> -->

	<select id="selectOneMember" resultType="member">
		select *
		from member
		where member_id = #{id}
	</select>

	<select id="selectOne" resultType="member">
		select *
		from member
		where member_id = #{id}
	</select>

	<update id="updateMemberProfile">
		update member
		set member_profile = #{memberProfile},
			member_re_profile = #{memberReProfile}
		where member_id = #{meberId}
	</update>

	<update id="updateMember">
		update
		    member
		set
			member_pw =	#{memberPw},
		    member_profile = #{memberProfile},
			member_re_profile = #{memberReProfile}
		where
		member_id = #{memberId}

	</update>

	<delete id="deleteMember">
		delete
		from
			member
		where
			member_id = #{memberId}
	</delete>

	<select id="selectLectureList" resultType="lecture">
			select
				l.*
			from
			    payment p
			full outer join
			    pay_lecture pl
			on
			    p.pay_code = pl.pay_code
			full outer join
			    lecture l
			on
			    pl.ref_lecture_no = l.lecture_no
			where
			    p.ref_member_id = #{memberId}
            order by
	            l.lecture_no
	        nulls last,
	            l.lecture_accept_yn
           	desc,
	            l.lecture_name
            asc
	</select>
	<select id="getTotalContents" resultType="_int">
		select
		    count(*)
		from
		     payment p
		 full outer join
		     pay_lecture pl
		 on
		     p.pay_code = pl.pay_code
		 where
		     p.ref_member_id = #{memberId}
	</select>
	<select id="getLectureList" resultType="lecture">
			select
				l.*
			from
			    payment p
			full outer join
			    pay_lecture pl
			on
			    p.pay_code = pl.pay_code
			full outer join
			    lecture l
			on
			    pl.ref_lecture_no = l.lecture_no
			where
			    p.ref_member_id = #{memberId}
            order by
	            l.lecture_no
	        nulls last,
	            l.lecture_accept_yn
           	desc,
	            l.lecture_name
            asc
	</select>

	<select id="selectStreamingDateList" resultType="streamingDate">
		select
			p.ref_member_id,
			pl.ref_lecture_no,
			t.teacher_name,
			l.lecture_name,
			l.streaming_start_time,
			l.streaming_end_time,
			s.streaming_title,
			s.streaming_start_date,
			s.streaming_end_date,
			l.lecture_thumb_renamed
		from
			payment p
				join
			pay_lecture pl
				on
					p.pay_code = pl.pay_code
				join
			lecture l
				on
					l.lecture_no = pl.ref_lecture_no
				join
			teacher t
				on
					t.ref_member_id = l.ref_member_id
				join
			streaming_date s
				on
					s.ref_lecture_no = pl.ref_lecture_no
		where
			p.ref_member_id = #{refMemberId}
	</select>
</mapper>